


@media screen and (max-width: 1152px) and (max-height: 864px) {

    /*After prayer window(Azkar Window)*/

    #bigIqamaText, #bigIqamaCounter {
        font-size: 115px;
    }
    body{
        
    }
    #afterPrayerHeader {
        font-size: 60px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 55px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 55px;
    }

    #afterPrayerEl4 {
        font-size: 52px;
    }
/*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 60px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 50px;
    }

    #afterPrayerEl9 {
        font-size: 50px;
    }
/*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 55px;
    }

    #afterPrayerEl11 {
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 300px;
        width: 750px;
    }
/**********************************************************************************************************/
    #m3awdat {
        height: 600px;
        width: 700px;
    }

    .subElement1 {
        font-size: 20px;
    }

/*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 55px;
    }

    #Watch {
        font-size: 75px;
    }

    #dateHijri, #internalTemp {
        font-size: 75px;
    }

    #externalTemp {
        font-size: 60px;
    }

    .degreeSymbol {
        font-size: 60px;
    }

    /*  prayer times window  */

    .prayerEl {
        font-size: 53px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 58px;
    }

    .hadeethEndClass {
        font-size: 50px;
    }
}
