
@media screen and (max-width: 1280px) and (max-height: 960px) {

    /*After prayer window(Azkar Window)*/

        #bigIqamaText, #bigIqamaCounter {
        font-size: 110px;
    }
    body{
        
    }
    #afterPrayerHeader {
        font-size: 65px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 60px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 59px;
    }

    #afterPrayerEl4 {
        font-size: 59px;
    }
/*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 70px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 58px;
    }

    #afterPrayerEl9 {
        font-size: 58px;
    }
/*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 60px;
    }

    #afterPrayerEl11 {
        font-size: 65px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 390px;
        width: 900px;
    }
/**********************************************************************************************************/
    #m3awdat {
        height: 680px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

/*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 62px;
    }

    #Watch {
        font-size: 80px;
    }

    #dateHijri , #internalTemp{
        font-size: 80px;
    }


    #externalTemp {
        font-size: 65px;
    }

    .degreeSymbol {
        font-size: 65px;
    }

    /*  prayer times window  */

    .prayerEl {
        font-size: 60px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 65px;
    }

    .hadeethEndClass {
        font-size: 60px;
    }
}
