
/******************************************/
/*     W * H  =  (1280 * 720)             */
/******************************************/


@media screen and (max-width: 1280px) and (max-height: 720px) {

    /*After prayer window(Azkar Window)*/
    #bigIqamaText, #bigIqamaCounter {
        font-size: 105px;
    }
    body{
        
    }

    #afterPrayerHeader {
        font-size: 50px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 60px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 48px;
    }

    #afterPrayerEl4 {
        font-size: 48px;
    }
/*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 55px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 50px;
    }

    #afterPrayerEl9 {
        font-size: 47px;
    }
/*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 50px;
    }

    #afterPrayerEl11 {
        font-size: 50px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 270px;
        width: 900px;
    }
/**********************************************************************************************************/
    #m3awdat {
        height: 500px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

/*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 50px;
    }

    #Watch {
        font-size: 70px;
    }

    #dateHijri, #internalTemp {
        font-size: 70px;
    }

    #externalTemp {
        font-size: 50px;
    }

    .degreeSymbol {
        font-size: 50px;
    }

    /*  prayer times window     */

    .prayerEl {
        font-size: 55px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 48px;
    }

    .hadeethEndClass {
        font-size: 45px;
    }
}
