

@media screen and (max-width: 1400px) and (max-height: 1050px) {

    /*After prayer window(Azkar Window)*/

        #bigIqamaText, #bigIqamaCounter {
        font-size: 110px;
    }
    body{
        
    }
    #afterPrayerHeader {
        font-size: 70px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 70px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 64px;
    }

    #afterPrayerEl4 {
        font-size: 64px;
    }
/*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 70px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 65px;
    }

    #afterPrayerEl9 {
        font-size: 65px;
    }
/*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 70px;
    }

    #afterPrayerEl11 {
        font-size: 65px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 400px;
        width: 930px;
    }
/**********************************************************************************************************/
    #m3awdat {
        height: 740px;
        width: 800px;
    }

    .subElement1 {
        font-size: 20px;
    }

/*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 65px;
    }

    #Watch , #internalTemp{
        font-size: 65px;
    }

    #dateHijri {
        font-size: 65px;
    }


    #externalTemp {
        font-size: 65px;
    }

    .degreeSymbol {
        font-size: 65px;
    }

    /*  prayer times window  */

    .prayerEl {
        font-size: 65px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 70px;
    }

    .hadeethEndClass {
        font-size: 65px;
    }
}
