/*
    This CSS file is used to set the font size of all elements for different resolutions

*/


/**************************************/
/*      Full HD (1600 * 900)         */
/**************************************/

#bigIqamaText, #bigIqamaCounter {
        font-size: 125px;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {

    #bigIqamaText, #bigIqamaCounter {
        font-size: 115px;
    }
    body{
       
    }
    /*After prayer window(Azkar Window)*/
    #afterPrayerHeader {
        font-size: 60px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 70px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 60px;
    }

    #afterPrayerEl4 {
        font-size: 60px;
    }
/******************************************************************************************************/

    #afterPrayerEl6 {
        font-size: 80px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 60px;
    }

    #afterPrayerEl9 {
        font-size: 60px;
    }
/*********************************************************************************************************/

    #afterPrayerEl10 {
        font-size: 70px;
    }

    #afterPrayerEl11 {
        font-size: 50px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 370px;
        width: 1100px;
    }
/**********************************************************************************************************/

    #m3awdat {
        height: 640px;
        width: 1000px;
    }

    .subElement1 {
        font-size: 20px;
    }
/**********************************************************************************************************/


    /*  Header Elements */


    .headerEl {
        font-size: 60px;
    }

    #Watch{
        font-size: 80px;
    }


    #dateHijri, #internalTemp  {
        font-size: 80px;
    }


    #externalTemp {
        font-size: 68px;
    }

    .degreeSymbol {
        font-size: 68px;
    }


    /*  prayer times window     */

    .prayerEl {
        font-size: 75px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 55px;
    }

    .hadeethEndClass {
        font-size: 55px;
    }
}









