<meta charset="utf-8">

<p id="hadeethHeader" align="center"></p>
    <p id="hadeethContent" align="center"></p>
    <p id="hadeethEnd" align="left"></p>
	<p style="visibility:hidden;">asdasdasdasd</p>
	<p style="visibility:hidden;">asdasdasdasdasd</p>
<script src="../../customFiles/contents/hadeethDB/HadeethDB.js" type="text/javascript"></script>
<script src="../../customFiles/contents/hadeethDB/HadeethDB-En.js" type="text/javascript"></script>
<script src="scripts/HadeethLoader.js"></script>
<link href="css/index.css" rel="stylesheet" />
<link href="../../customFiles/CSS/hadeethColor.css" rel="stylesheet" />
