
/******************************************/
/*     W * H  =  (1024 * 768)             */
/******************************************/


@media screen and (max-width: 1024px) and (max-height: 768px) {

    /*After prayer window(Azkar Window)*/

    #bigIqamaText, #bigIqamaCounter {
        font-size: 115px;
    }
    body{
        
    }
    #afterPrayerHeader {
        font-size: 52px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 50px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 45px;
    }

    #afterPrayerEl4 {
        font-size: 48px;
    }
/*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 55px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 47px;
    }

    #afterPrayerEl9 {
        font-size: 45px;
    }
/*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 50px;
    }

    #afterPrayerEl11 {
        font-size: 50px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 290px;
        width: 650px;
    }
/**********************************************************************************************************/
    #m3awdat {
        height: 530px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

/*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 45px;
    }

    #Watch {
        font-size: 65px;
    }

    #dateHijri, #internalTemp {
        font-size: 65px;
    }

   
    #externalTemp {
        font-size: 55px;
    }

    .degreeSymbol {
        font-size: 55px;
    }

    /*  prayer times window     */

    .prayerEl {
        font-size: 45px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 50px;
    }

    .hadeethEndClass {
        font-size: 45px;
    }
}
