

/******************************************/
/*     W * H  =  (1280 * 800)             */
/******************************************/


@media screen and (max-width: 1280px) and (max-height: 800px) {

    /*After prayer window(Azkar Window)*/

    #bigIqamaText, #bigIqamaCounter {
        font-size: 110px;
    }

    body{
        
    }
    #afterPrayerHeader {
        font-size: 60px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 70px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 55px;
    }

    #afterPrayerEl4 {
        font-size: 60px;
    }
/*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 75px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 55px;
    }

    #afterPrayerEl9 {
        font-size: 55px;
    }
/*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 65px;
    }

    #afterPrayerEl11 {
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 270px;
        width: 900px;
    }
/**********************************************************************************************************/
    #m3awdat {
        height: 550px;
        width: 700px;
    }

    .subElement1 {
        font-size: 20px;
    }

/*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 52px;
    }

    #Watch{
        font-size: 70px;
    }

    #dateHijri, #internalTemp   {
        font-size: 70px;
    }

    #externalTemp {
        font-size: 55px;
    }

    .degreeSymbol {
        font-size: 55px;
    }

    /*  prayer times window  */

    .prayerEl {
        font-size: 60px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 55px;
    }

    .hadeethEndClass {
        font-size: 50px;
    }
}
