
/******************************************/
/*     W * H  =  (1366 * 768)             */
/******************************************/


@media screen and (max-width: 1366px) and (max-height: 768px) {

    /*After prayer window(Azkar Window)*/


    #bigIqamaText, #bigIqamaCounter {
        font-size: 100px;
    }
    body{

    }
    #afterPrayerHeader {
        font-size: 53px;
    }
    /******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 60px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 50px;
    }

    #afterPrayerEl4 {
        font-size: 52px;
    }
    /*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 60px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 50px;
    }

    #afterPrayerEl9 {
        font-size: 50px;
    }
    /*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 60px;
    }

    #afterPrayerEl11 {
        font-size: 55px;
    }

    #korsiHeader {
        font-size: 40px;
    }

    #alkorsi {
        height: 270px;
        width: 800px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 540px;
        width: 900px;
    }

    .subElement1 {
        font-size: 20px;
    }

    /*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 50px;
    }

    #Watch{
        font-size: 70px;

    }

    #dateHijri, #internalTemp  {
        font-size: 60px;

    }

    #externalTemp {
        font-size: 55px;
    }

    .degreeSymbol {
        font-size: 55px;
    }

    /*  prayer times window     */

    .prayerEl {
        font-size: 70px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 50px;
    }

    .hadeethEndClass {
        font-size: 45px;
    }

    .timeOutEl {
        font-size: 50px;
    }
}
