
@media screen and (max-width: 1440px) and (max-height: 900px) {

    /*After prayer window(Azkar Window)*/

    #bigIqamaText, #bigIqamaCounter {
        font-size: 115px;
    }
    body{
        
    }
    #afterPrayerHeader {
        font-size: 55px;
    }
    /******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 70px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 60px;
    }

    #afterPrayerEl4 {
        font-size: 60px;
    }
    /*******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 70px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 60px;
    }

    #afterPrayerEl9 {
        font-size: 60px;
    }
    /*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 70px;
    }

    #afterPrayerEl11 {
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 25px;
    }

    #alkorsi {
        height: 360px;
        width: 930px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 650px;
        width: 800px;
    }

    .subElement1 {
        font-size: 20px;
    }

    /*=========================================================================================================*/


    /*  Header Elements */


    .headerEl {
        font-size: 55px;
    }

    #Watch {
        font-size: 80px;
    }

    #dateHijri, #internalTemp{
        font-size: 80px;
    }



    #externalTemp {
        font-size: 55px;
    }

    .degreeSymbol {
        font-size: 55px;
    }

    /*  prayer times window  */

    .prayerEl {
        font-size: 68px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 60px;
    }

    .hadeethEndClass {
        font-size: 55px;
    }
}

