/*
    This CSS file is used to set the font size of all elements for different resolutions

*/


/**************************************/
/*      Full HD (1680 * 1050)         */
/**************************************/


@media screen and (max-width: 1680px) and (max-height: 1050px) {

    #bigIqamaText, #bigIqamaCounter {
        font-size: 125px;
    }
    
    body{
        
    }
    /*After prayer window(Azkar Window)*/
    #afterPrayerHeader {
        font-size: 65px;
    }
/******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 70px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 65px;
    }

    #afterPrayerEl4 {
        font-size: 70px;
    }
/******************************************************************************************************/

    #afterPrayerEl6 {
        font-size: 80px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 65px;
    }

    #afterPrayerEl9 {
        font-size: 63px;
    }
/*********************************************************************************************************/

    #afterPrayerEl10 {
        font-size: 75px;
    }

    #afterPrayerEl11 {
        font-size: 55px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 440px;
        width: 1150px;
    }
/**********************************************************************************************************/

    #m3awdat {
        height: 750px;
        width: 1000px;
    }

    .subElement1 {
        font-size: 20px;
    }
/**********************************************************************************************************/


    /*  Header Elements */


    .headerEl {
        font-size: 65px;
    }

    #Watch {
        font-size: 85px;
    }


    #dateHijri, #internalTemp {
        font-size: 85px;

    }

    #externalTemp {
        font-size: 68px;
    }

    .degreeSymbol {
        font-size: 68px;
    }


    /*  prayer times window     */

    .prayerEl {
        font-size: 80px;
    }

    /*    Hadeeth Window  */

    .hadeethHeaderClass {
        font-size: 60px;
    }

    .hadeethEndClass {
        font-size: 55px;
    }
}









