/*
    This CSS file is used to set the font size of all elements for different resolutions

*/


/**************************************/
/*      Full HD (1920 * 1080)         */
/**************************************/


@media screen and (max-width: 1920px) and (max-height: 1080px) {

    body {

    }

    #bigIqamaText, #bigIqamaCounter {
        font-size: 125px;
    }

    /*After prayer window(Azkar Window)*/
    #afterPrayerHeader {
        font-size: 75px;
    }

    /******************************************************************************************************/
    #afterPrayerEl1 {
        font-size: 80px;
    }

    #afterPrayerEl2, #afterPrayerEl3 {
        font-size: 75px;
    }

    #afterPrayerEl4 {
        font-size: 75px;
    }

    /******************************************************************************************************/
    #afterPrayerEl6 {
        font-size: 85px;
    }

    #afterPrayerEl7, #afterPrayerEl8 {
        font-size: 70px;
    }

    #afterPrayerEl9 {
        font-size: 70px;
    }

    /*********************************************************************************************************/
    #afterPrayerEl10 {
        font-size: 80px;
    }

    #afterPrayerEl11 {
        font-size: 75px;
    }

    #korsiHeader {
        font-size: 60px;
    }

    #alkorsi {
        height: 430px;
        width: 1200px;
    }

    /**********************************************************************************************************/
    #m3awdat {
        height: 780px;
        width: 1200px;
    }

    .subElement1 {
        font-size: 25px;
    }

    /**********************************************************************************************************/
    /*  Header Elements */
    .headerEl {
        font-size: 65px;
    }

    #Watch {
        font-size: 100px;
    }

    #internalTemp, #dateHijri {
        font-size: 90px;
    }

    #externalTemp {
        font-size: 68px;
    }

    .degreeSymbol {
        font-size: 68px;
    }

    /*  prayer times window     */
    .prayerEl {
        font-size: 101px;
    }

    /*    Hadeeth Window  */
    .hadeethHeaderClass {
        font-size: 65px;
    }

    .hadeethEndClass {
        font-size: 65px;
    }

    .timeOutEl {
        font-size: 72px;
    }
}























