/*
    This CSS file is used to set the font size of all elements for different resolutions

*/


/**************************************/
/*      Full HD (1920 * 1080)         */
/**************************************/


@media screen and (max-width: 1920px) and (max-height: 1080px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 82px;
    }
}

/**************************************/
/*      Full HD (1680 * 1050)         */
/**************************************/


@media screen and (max-width: 1680px) and (max-height: 1050px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 70px;
    }
}


/**************************************/
/*      Full HD (1600 * 900)         */
/**************************************/


@media screen and (max-width: 1600px) and (max-height: 900px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 65px;
    }
}


/**************************************/
/*      Full HD (1440 * 900)         */
/**************************************/



@media screen and (max-width: 1440px) and (max-height: 900px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 65px;
    }
}



/**************************************/
/*      Full HD (1400 * 1050)         */
/**************************************/

@media screen and (max-width: 1400px) and (max-height: 1050px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 65px;
    }
}


/**************************************/
/*      Full HD (1366 * 768)         */
/**************************************/

@media screen and (max-width: 1366px) and (max-height: 768px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1360 * 768)         */
/**************************************/

@media screen and (max-width: 1360px) and (max-height: 768px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1280 * 1024)         */
/**************************************/

@media screen and (max-width: 1280px) and (max-height: 1024px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1280 * 960)         */
/**************************************/

@media screen and (max-width: 1280px) and (max-height: 960px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 60px;
    }
}

/**************************************/
/*      Full HD (1280 * 800)         */
/**************************************/

@media screen and (max-width: 1280px) and (max-height: 800px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1280 * 720)         */
/**************************************/

@media screen and (max-width: 1280px) and (max-height: 720px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 50px;
    }
}

/**************************************/
/*      Full HD (1152 * 864)         */
/**************************************/

@media screen and (max-width: 1152px) and (max-height: 864px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 48px;
    }
}

/**************************************/
/*      Full HD (1024 * 768)         */
/**************************************/

@media screen and (max-width: 1024px) and (max-height: 768px) {

    
    /*  prayer times window     */

    .prayerEl   {
        font-size: 40px;
    }
}



