<meta charset="utf-8">

<p id="appText" align="center">
    <b class="appNameEng">
   switch your phone to silent
   </b>
    </br>
    automatically using
    </br>
    <b class="appNameEng">
   eMosque app. Get it from App or Play Store
   </b>
    </br>
    <!--<img id="appIcon" src="img/appIcon.jpg">-->

</p>

<link href="css/index-en.css" rel="stylesheet"/>
<link href="../../customFiles/CSS/app-ad-color.css" rel="stylesheet"/>
<script src="scripts/index.js"></script>