<meta charset="utf-8">

<p id="appText" align="center">
    </br>


    <b class="appNameEng">
    حول هاتفك للصامت
   </b>
    </br>
    تلقائيا باستخدام
    </br>
    <b class="appNameEng">
    تطبيق المسجد الذكي
   </b>
    </br>
    eMosque <!--<img id="appIcon" src="img/appIcon.jpg">-->

</p>

<link href="css/index.css" rel="stylesheet"/>
<link href="../../customFiles/CSS/app-ad-color.css" rel="stylesheet"/>
<script src="scripts/index.js"></script>