body {
    overflow: hidden;
    font-family: 'Droid Arabic Naskh';
    padding: 0px;
    margin: 0px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
}

.horizTextMarquee {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
    padding: 5px;
    height: 100%;
    
}

#horizMarquee {
    text-align: right;
    display: table-cell;
    line-height: 1.6;
    vertical-align: middle;
}



/*
    This CSS file is used to set the font size of all elements for different resolutions

*/


/**************************************/
/*      Full HD (1920 * 1080)         */
/**************************************/


@media screen and (max-device-width: 1920px) and (max-device-height: 1080px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 82px;
    }
}

/**************************************/
/*      Full HD (1680 * 1050)         */
/**************************************/


@media screen and (max-device-width: 1680px) and (max-device-height: 1050px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 70px;
    }
}


/**************************************/
/*      Full HD (1600 * 900)         */
/**************************************/


@media screen and (max-device-width: 1600px) and (max-device-height: 900px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 65px;
    }
}


/**************************************/
/*      Full HD (1440 * 900)         */
/**************************************/



@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 65px;
    }
}



/**************************************/
/*      Full HD (1400 * 1050)         */
/**************************************/

@media screen and (max-device-width: 1400px) and (max-device-height: 1050px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 65px;
    }
}


/**************************************/
/*      Full HD (1366 * 768)         */
/**************************************/

@media screen and (max-device-width: 1366px) and (max-device-height: 768px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 60px;
    }
}

/**************************************/
/*      Full HD (1360 * 768)         */
/**************************************/

@media screen and (max-device-width: 1360px) and (max-device-height: 768px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1280 * 1024)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 1024px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1280 * 960)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 960px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 60px;
    }
}

/**************************************/
/*      Full HD (1280 * 800)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 800px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 55px;
    }
}

/**************************************/
/*      Full HD (1280 * 720)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 720px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 50px;
    }
}

/**************************************/
/*      Full HD (1152 * 864)         */
/**************************************/

@media screen and (max-device-width: 1152px) and (max-device-height: 864px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 48px;
    }
}

/**************************************/
/*      Full HD (1024 * 768)         */
/**************************************/

@media screen and (max-device-width: 1024px) and (max-device-height: 768px) {


    /*  prayer times window     */

    .horizTextMarquee {
        font-size: 10px;
    }
}

