<meta charset="utf-8">
<marquee class="horizTextMarquee" direction="right" scrollamount="4">
    <span id="horizMarquee"></span>
</marquee>


<script>
    function setDirection(dir)
    {
        document.getElementById("horizMarquee").direction = dir;
    }
</script>

<link href="css/horizText.css" rel="stylesheet" />
<link href="../../customFiles/CSS/secondaryMsgColor.css" rel="stylesheet" />

