.row{
    margin-bottom: 1.5vw;
}


.verticalAlignCenter {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
}

/*.text-align-right {
    text-align: right;
}*/

.inline-element{
    display: inline;
}

.match-parent-width{
    width: 100%;
}

.iFrame-noBorder{
    border:0;
}

.display-none{
    display: none;
}

.display-block
{
    display: block;
}

.visibility-hidden
{
    visibility: hidden;
}

.visibility-visible
{
    visibility: visible;
}

.modal-dialog
{
    width:100%;
}

.content-wrapper{
    background-color: white;
    padding-right: 20px;
}
.wrapper{
    background-color: white;
}

#myWrapper{
    background-color: white;
}