<div><br></div>
<div><img
        src="http://192.168.0.200/emosquescreen/web-site/customFiles/contents/primaryMessages/ImamMessages/imgs/198001425320170315_094735.jpg"
        width="298" style="width: 90%;"><br></div>
<div>Test 2</div>
<div><br></div>
<div><img
        src="http://192.168.0.200/emosquescreen/web-site/customFiles/contents/primaryMessages/ImamMessages/imgs/193628738120161211_122240.jpg"
        width="298" style="width: 90%;"><br></div>
<script src="scripts/jquery-1.9.1.js"></script>
<script src="scripts/scrollPage.js"></script>