<meta charset="utf-8">

<canvas id="clockCanvas" style="background-color:#00000000;;visibility: hidden;"></canvas>

<script src="../../scripts/prayer_backgrounds.js"></script>
<script src="scripts/index.js"></script>
<link href="css/index.css" rel="stylesheet"/>