body {
    vertical-align: middle;
    padding: 10px;
}

#msgTitle {
    margin-bottom: 15px;
    width: auto;
    text-align: right;
    font-size: 20px
}

#inputText {
    text-align: right;
    font-size: 20px;
    padding: 5px;
}

.contentTable {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.dateTexts {
    margin-top: 10px;
}

.dateTexts td {
    padding-bottom: 10px;
}

#endDateText {
    margin-right: 12px;
    width: auto;
    text-align: right;
    font-size: 20px;
}

#startDateText {
    margin-right: 2px;
    margin-left: 15px;
    width: auto;
    text-align: right;
    font-size: 20px;
}

#endDatePicker {
    margin-right: 10px;
    width: 94%;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
}

#startDatePicker {
    width: 94%;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
}

.operations {
    width: 100%;
    text-align: center;
}

#saveMyTxt {
    font-size: 23px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
}

#showMyMsgs {
    font-size: 23px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
}

.marqueeDiv {
    width: 100%;
}

#MarqueeHeader {
    border: 1px solid #607D8B;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    height: 50px;
}

#marqueeText {
    text-align: right;
    padding: 5px;
    font-size: 23px;
    display: table-cell;
    line-height: 1.1;
    vertical-align: middle;
}


