body {
    overflow: hidden;
    font-family: 'Droid Arabic Naskh';
    padding: 0px;
    margin: 0px;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    line-height: 1.5;
    color: white;
    background-color: black;
}

* {
    overflow: hidden;
    box-sizing: border-box;

}

.row, *, p, .container, p {
    padding: 0px;
    margin: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0px;
}

.headerEl {

    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    text-align: left;
    line-height: 1.5;
    width: inherit;
    height: inherit;
}

.verticalAlignCenter {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
}

#pageContainer {
    margin: 0px;
    padding: 0;
    padding-right: 10px;
    visibility: visible;
}

#prayerTimeOutPanel {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
}

#prayerWindow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeOutEl {
    /*  border-style: solid;
      border-color: rgb(255, 255, 255);
      border-radius: 10px;
      */
    background-color: rgba(168, 88, 20, .0);
    text-align: center;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 10px;
    width: inherit;
    visibility: hidden;
}

.prayerElTimes {

    /* border-style: solid;
    border-color: rgb(255, 255, 255);
    border-left: none;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
*/
    background: rgba(168, 88, 20, .0);
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
}

.prayerElTimesEn {

    /* border-style: solid;
    border-color: rgb(255, 255, 255);
    border-left: none;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
*/
    background: rgba(168, 88, 20, .0);
    text-align: right;
    font-size: 63px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
}


.prayerElNames {

    /*  border-style: solid;
      border-color: rgb(255, 255, 255);
      border-right: none;
      border-radius: 10px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
  */
    background: rgba(168, 88, 20, .0);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
}

#header {

    background: rgba(82, 58, 3, .0);
}

.hadeethEndClass, .hadeethHeaderClass {

    text-align: center;
}

.hedeethContentClass {
    text-align: center;

}

#horizTextFrame {
    padding-right: 10px;
    padding-left: 10px;
}

#Watch {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    text-align: center;
    line-height: 0;
    width: inherit;
    line-height: 1.2;

}

#dateMeladi {
    text-align: center;

}

#dateHijri {
    padding-right: 10px;
    text-align: left;

}

#dateHijri {
    line-height: 1.3;
}

#internalTemp {
    padding-left: 0px;
    line-height: 1.3;
    color: red;
}

#hadeethWindow {
    padding: 10px;
    padding-right: 30px;

}

.hadeethHeaderClass {
    margin-bottom: 20px;
}

.hadeethEndClass {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: left;
}

.ishaaIqamaBox {
    display: none;
    margin-bottom: 20px;
}

#footer {
    background: rgba(130, 95, 15, 0.0);
}

#firstLogo {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;

}

.logoInMiddleLeftAlign {
    text-align: left;
    padding-top: 10px;
}

.logoInMiddleCenterAlign {
    text-align: center;
    padding-top: 10px;
}

.logoInMiddleRightAlign {
    text-align: right;
    padding-top: 10px;
}

#lastLogo {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

#afterPrayersWindow, #bigIqamaText, #bigIqamaCounter {
    visibility: hidden;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    position: absolute;
}

#afterPrayerHeader {
    text-align: center;
    color: deepskyblue;
}

#afterPrayerCarousel {
    margin-top: 5px;
    border-style: double;
    border-width: 10px;
    border-color: deepskyblue;
    text-align: center;
}

#blackBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

