body {
    font-family:'Droid Arabic Naskh';
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    line-height: 1.5;
    color: white;
}

*{
    padding:0px;
    margin:0px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

/**************************************/
/*      Full HD (1920 * 1080)         */
/**************************************/


img{
    display: block;
    /*width: 100%;*/
}


@media screen and (max-device-width: 1920px) and (max-device-height: 1080px) {


    /*  prayer times window     */

    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 106px;
        font-weight: bold;

    }

    #hadeethEnd {
        font-size: 100px;
    }
}

/**************************************/
/*      Full HD (1680 * 1050)         */
/**************************************/


@media screen and (max-device-width: 1680px) and (max-device-height: 1050px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}


/**************************************/
/*      Full HD (1600 * 900)         */
/**************************************/


@media screen and (max-device-width: 1600px) and (max-device-height: 900px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}


/**************************************/
/*      Full HD (1440 * 900)         */
/**************************************/



@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}



/**************************************/
/*      Full HD (1400 * 1050)         */
/**************************************/

@media screen and (max-device-width: 1400px) and (max-device-height: 1050px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}


/**************************************/
/*      Full HD (1366 * 768)         */
/**************************************/

@media screen and (max-device-width: 1366px) and (max-device-height: 768px) {


    #hadeethHeader {
        font-size: 60px;
    }

    *
    {
        font-size: 80px;
    }

    #hadeethEnd {
        font-size: 60px;
    }
}

/**************************************/
/*      Full HD (1360 * 768)         */
/**************************************/

@media screen and (max-device-width: 1360px) and (max-device-height: 768px) {


    #hadeethHeader {
        font-size: 60px;
    }

    *
    {
        font-size: 80px;
    }

    #hadeethEnd {
        font-size: 60px;
    }
}

/**************************************/
/*      Full HD (1280 * 1024)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 1024px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}

/**************************************/
/*      Full HD (1280 * 960)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 960px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}

/**************************************/
/*      Full HD (1280 * 800)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 800px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}

/**************************************/
/*      Full HD (1280 * 720)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 720px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}

/**************************************/
/*      Full HD (1152 * 864)         */
/**************************************/

@media screen and (max-device-width: 1152px) and (max-device-height: 864px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}

/**************************************/
/*      Full HD (1024 * 768)         */
/**************************************/

@media screen and (max-device-width: 1024px) and (max-device-height: 768px) {


    #hadeethHeader {
        font-size: 100px;
    }

    *
    {
        font-size: 90px;
    }

    #hadeethEnd {
        font-size: 100px;
    }
}

