
    /*  Header Elements */

    .headerEl {
        font-size: 4.5vw;
    }

    #Watch {
        font-size: 4.5vw;
    }

    #dateHijri, #internalTemp {
        font-size: 4.5vw;
    }
   
    #externalTemp {
        font-size: 4.5vw;
    }

    .degreeSymbol {
        font-size: 4.5vw;
    }

    /*  prayer times window     */

    .prayerEl {
        font-size: 3.625vw;
    }


 

