.dateCell {
    width: 35%;
    border: 1px solid black;
    font-size: medium;
    border-radius: 7px;
    padding: 5px;
    text-align: right;
}

.contentCell {
    width: 65%;
    border: 1px solid black;
    font-size: 19px;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
}

.editCell {
    width: 100%;
    border: 1px solid black;
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    background: skyblue;
}

.deleteCell{
    width: 100%;
    border: 1px solid black;
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    margin-bottom: 2px;
    background: rgba(255, 0, 30, 0.48);
}

.deleteAll{
    background: rgba(255, 0, 30, 0.48);
    border: 1px solid black;
    border-radius: 5px;
    font-size: medium;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
}

.dateCellTitle {
    width: 35%;
    border: 1px solid black;
    font-size: medium;
    font-weight: bold;
    border-radius: 7px;
    padding: 5px;
    text-align: right;
    background: skyblue;
}

.contentCellTitle {
    width: 65%;
    border: 1px solid black;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    background: skyblue;
}

tr:nth-child(even) td {
    background: rgba(150, 150, 150, 0.35);
}

.backButton{
    width: auto;
    border: 1px solid black;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    margin-bottom: 5px;
}

#stickyInput.sticky {
    position: fixed;
    top: 0;
}