#title{
    text-align: center;
}

#hadeethFrame{
    border-style: solid;
    border-color: #0c199c;
    border-radius: 5px;
    overflow: scroll;

}

#hadeethDisplayWindow{
    padding: 10px;
    text-align: right;
    font-size: 6vw;

}

#daySelection{
    margin-top: 0.8vw;
    text-align: center;
}

.glyphicon {
    font-size: 8vw;
}

#rightArrow{
    position: absolute;
}

#leftArrow{
    position: absolute;
}
