<meta charset="utf-8">


<div id="afterPrayersWindow">
    <p id="afterPrayerHeader"><span>Du'aa After Prayer</span></p>
    <div class="row">
        <div class="afterPrayerPage" id="afterPrayerPage1">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl1" class="afterPrayerEl">
                                            <span>
 استغفر الله &nbsp;&nbsp;&nbsp;استغفر الله&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;استغفر الله
                                            </span>
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl2" class="afterPrayerEl">
                        <span>اللهم أنت السلام ومنك السلام تباركت يا ذا الجلال والاكرام</span></p>
                </div>


            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage2">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl13" class="afterPrayerEl">
                                            <span>
 I ask Allah to forgive me. I ask Allah to forgive me. I ask Allah to forgive me.
                                            </span>
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl22" class="afterPrayerEl">
                        <span>O Allah, You are As-Salam and from You is all peace, blessed are You, O Possessor of majesty and honour</span></p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage3">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl3" class="afterPrayerEl">
                                            <span>
                                                لا اله الا الله وحده لا شريك له، له الملك وله الحمد وهو على كل شيء قدير
                                            </span>
                    </p>
                </div>


            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage4">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl14" class="afterPrayerEl">
                                            <span>
                                            None has the right to be worshipped except Allah, alone, without partner, to Him belongs all sovereignty and praise
                                            </span>
                    </p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage5">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl4" class="afterPrayerEl">
                                            <span>
                                                لاحول ولا قوة الا بالله،لا اله الا الله ولا نعبد الا اياه، له النعمة وله الفضل وله الثناء الحسن
                                            </span>
                    </p>
                </div>


            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage6">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl15" class="afterPrayerEl">
                                            <span>
                                                there is no power and no strength except with Allah. None has the right to be worshipped except Allah and we worship none except Him. For Him is all favour, grace, and glorious praise.
                                            </span>
                    </p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage7">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="afterPrayerEl">
                                        <span id="afterPrayerEl6" style="display: block;">
                                            لا اله الا الله
                                        </span>
                        <span id="afterPrayerEl7">
                                            مخلصين له الدين ولو كره المشركون
                                        </span>
                    </p>
                </div>


            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage8">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="afterPrayerEl">
                                        <span id="afterPrayerEl16" style="display: block;">
                                            there is no god but Allah
                                        </span>
                        <span id="afterPrayerEl17">
                                          with sincere devotion to Him, even though the Unbelievers may detest it
                                        </span>
                    </p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage9">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl8" class="afterPrayerEl">
                                        <span>
                                            اللهم لا مانع لما أعطيت، ولا معطي لما منعت، ولا ينفع ذا الجد منك الجد، اللهم اعني على ذكرك وشكرك وحسن عبادتك
                                        </span>
                    </p>
                </div>

            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage10">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl18" class="afterPrayerEl">
                                        <span>
                                          O Allah, none can prevent what You have willed to bestow and none can bestow what You have willed to prevent, and no wealth or majesty can benefit anyone, as from You is all wealth and majesty. This supplication is made optionally only in conjunction with the previous one. O Allah, help me to remember You, to thank You, and to worship You in the best of manners.


                                        </span>
                    </p>
                </div>

            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage11">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl9" class="afterPrayerEl">
                                        <span>
                                            لا اله الا الله وحده لا شريك له، له الملك وله الحمد، يحيي ويميت وهو على كل شيء قدير
                                        </span>
                    </p>
                </div>


            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl19" class="afterPrayerEl">
                                        <span>
                                           None has the right to be worshipped except Allah, alone without associate, to Him belongs sovereignty and praise and He is over all things wholly capable.
                                        </span>
                    </p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage13">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl10" class="afterPrayerEl">
                                            <span>
                                                الله أكبر<sub class="subElement1">33 مرة</sub> &nbsp;&nbsp;&nbsp;الحمد لله<sub
                                                    class="subElement1">33 مرة</sub>&nbsp;&nbsp;&nbsp;سبحان الله<sub
                                                    class="subElement1">33 مرة</sub>
                                            </span>
                    </p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl11" class="afterPrayerEl">
                                            <span>
                                                لا اله الا الله وحده لا شريك له، له الملك وله الحمد،وهو على كل شيء قدير<sub
                                                    class="subElement1">مرة واحدة</sub>
                                            </span>
                    </p>
                </div>

            </div>
        </div>
        <div class="afterPrayerPage" id="afterPrayerPage14">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl20" class="afterPrayerEl">
                                            <span>
                                               Allah is the greatest  <sub class="subElement1">33 </sub> &nbsp;&nbsp;&nbsp;All praise is for Allah<sub
                                                    class="subElement1">33 </sub>&nbsp;&nbsp;Glorious is God<sub
                                                    class="subElement1">33 </sub>
                                            </span>
                    </p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl21" class="afterPrayerEl">
                                            <span>
                                                None has the right to be worshipped except Allah, alone, without partner, to Him belongs all sovereignty and praise and He is over all things omnipotent.<sub
                                                    class="subElement1">one time</sub>
                                            </span>
                    </p>
                </div>

            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage15">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl12" class="afterPrayerEl">
                        أية الكرسي
                    </p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p><img id="alkorsi" src="images/korsi.png" align="middle" alt="Korsi">
                    </p>
                </div>

            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage16">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img id="m3awdat" src="images/quraan.png" alt="m3awdat">
                </div>

            </div>
        </div>


    </div>


    <p style="visibility:hidden;">asdasdasdasd</p>
    <p style="visibility:hidden;">asdasdasdasdasd</p>
    <script src="scripts/index.js"></script>
    <link href="css/index-en.css" rel="stylesheet"/>
    <link href="../../customFiles/CSS/azkarColor.css" rel="stylesheet"/>