<meta charset="utf-8">


<div id="afterPrayersWindow">
    <p id="afterPrayerHeader"><span>الأذكار بعد الصلاة المفروضة</span></p>
    <div class="row">
        <div class="afterPrayerPage" id="afterPrayerPage1">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl1" class="afterPrayerEl">
                                            <span>
 استغفر الله &nbsp;&nbsp;&nbsp;استغفر الله&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;استغفر الله
                                            </span>
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl2" class="afterPrayerEl">
                        <span>اللهم أنت السلام ومنك السلام تباركت يا ذا الجلال والاكرام</span></p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage2">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl3" class="afterPrayerEl">
                                            <span>
                                                لا اله الا الله وحده لا شريك له، له الملك وله الحمد وهو على كل شيء قدير
                                            </span>
                    </p>
                </div>


            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage3">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl4" class="afterPrayerEl">
                                            <span>
                                                لاحول ولا قوة الا بالله،لا اله الا الله ولا نعبد الا اياه، له النعمة وله الفضل وله الثناء الحسن
                                            </span>
                    </p>
                </div>


            </div>
        </div>

        <div class="afterPrayerPage" id="afterPrayerPage4">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="afterPrayerEl">
                                        <span id="afterPrayerEl6" style="display: block;">
                                            لا اله الا الله
                                        </span>
                        <span id="afterPrayerEl7">
                                            مخلصين له الدين ولو كره المشركون
                                        </span>
                    </p>
                </div>


            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage5">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl8" class="afterPrayerEl">
                                        <span>
                                            اللهم لا مانع لما أعطيت، ولا معطي لما منعت، ولا ينفع ذا الجد منك الجد، اللهم اعني على ذكرك وشكرك وحسن عبادتك
                                        </span>
                    </p>
                </div>

            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage6">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl9" class="afterPrayerEl">
                                        <span>
                                            لا اله الا الله وحده لا شريك له، له الملك وله الحمد، يحيي ويميت وهو على كل شيء قدير
                                        </span>
                    </p>
                </div>


            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage7">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl10" class="afterPrayerEl">
                                            <span>
                                                الله أكبر<sub class="subElement1">33 مرة</sub> &nbsp;&nbsp;&nbsp;الحمد لله<sub
                                                    class="subElement1">33 مرة</sub>&nbsp;&nbsp;&nbsp;سبحان الله<sub
                                                    class="subElement1">33 مرة</sub>
                                            </span>
                    </p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl11" class="afterPrayerEl">
                                            <span>
                                                لا اله الا الله وحده لا شريك له، له الملك وله الحمد،وهو على كل شيء قدير<sub
                                                    class="subElement1">مرة واحدة</sub>
                                            </span>
                    </p>
                </div>

            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage8">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p id="afterPrayerEl12" class="afterPrayerEl">
                        أية الكرسي
                    </p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p><img id="alkorsi" src="images/korsi.png" align="middle" alt="Korsi">
                    </p>
                </div>

            </div>
        </div>


        <div class="afterPrayerPage" id="afterPrayerPage9">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img id="m3awdat" src="images/quraan.png" alt="m3awdat">
                </div>

            </div>
        </div>


    </div>


    <p style="visibility:hidden;">asdasdasdasd</p>
    <p style="visibility:hidden;">asdasdasdasdasd</p>
    <script src="scripts/index.js"></script>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="../../customFiles/CSS/azkarColor.css" rel="stylesheet"/>