body {
    overflow: hidden;
    font-family:'Droid Arabic Naskh';
    padding:0px;
    margin:0px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
}

* {
    overflow: hidden;
    box-sizing: border-box;
}

*,p {
    padding: 0px;
    margin: 0px;
}

#previewDiv{
    height:auto;
}



