body {
    font-family:'Droid Arabic Naskh';
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	line-height: 1.5;
    color: white;
    text-align: center;
}


.sep{
    font-size:100px;
    display: block;
    margin:0px;
    padding: 0px;
}

p{
    margin: 0px;
    margin-bottom:40px;
}

/**************************************/
/*      Full HD (1920 * 1080)         */
/**************************************/




@media screen and (max-device-width: 1920px) and (max-device-height: 1080px) {


    /*  prayer times window     */

    #afterPrayerHeader{
        font-size: 80px;
    }

    .afterPrayerEl
    {
        font-size:100px;
    }


    #afterPrayerEl1 {
        text-align: right;
        font-size: 75px;
    }


    #afterPrayerEl2 {
        font-size: 105px;
    }


    #afterPrayerEl3 {
        font-size: 110px;
    }



    #afterPrayerEl6 {
        font-size: 120px;
    }
    #afterPrayerEl7 {
        font-size: 120px;
    }

    #afterPrayerEl8 {
        font-size: 95px;
    }

    #afterPrayerEl10 {
        text-align: right;
        font-size: 70px;
    }

    #korsiHeader {
        font-size: 45px;
    }

    #alkorsi {
        width: 1190px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        width: 1190px;
    }

    .subElement1 {
        font-size: 30px;
    }

}

/**************************************/
/*      Full HD (1680 * 1050)         */
/**************************************/


@media screen and (max-device-width: 1680px) and (max-device-height: 1050px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 50px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 440px;
        width: 1150px;
    }
    /**********************************************************************************************************/

    #m3awdat {
        height: 750px;
        width: 1000px;
    }

    .subElement1 {
        font-size: 20px;
    }
}


/**************************************/
/*      Full HD (1600 * 900)         */
/**************************************/


@media screen and (max-device-width: 1600px) and (max-device-height: 900px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 370px;
        width: 1100px;
    }
    /**********************************************************************************************************/

    #m3awdat {
        height: 640px;
        width: 1000px;
    }

    .subElement1 {
        font-size: 20px;
    }
}


/**************************************/
/*      Full HD (1440 * 900)         */
/**************************************/



@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 25px;
    }

    #alkorsi {
        height: 360px;
        width: 930px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 650px;
        width: 800px;
    }

    .subElement1 {
        font-size: 20px;
    }

}



/**************************************/
/*      Full HD (1400 * 1050)         */
/**************************************/

@media screen and (max-device-width: 1400px) and (max-device-height: 1050px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 400px;
        width: 930px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 740px;
        width: 800px;
    }

    .subElement1 {
        font-size: 20px;
    }
}


/**************************************/
/*      Full HD (1366 * 768)         */
/**************************************/

@media screen and (max-device-width: 1366px) and (max-device-height: 768px) {

    #afterPrayerHeader{
        font-size: 60px;
    }

    .afterPrayerEl
    {
        font-size:70px;
    }


    #afterPrayerEl1 {
        text-align: right;
        font-size: 50px;
    }


    #afterPrayerEl2 {
        font-size: 75px;
    }


    #afterPrayerEl3 {
        font-size: 75px;
    }



    #afterPrayerEl6 {
        font-size: 90px;
    }
    #afterPrayerEl7 {
        font-size: 90px;
    }

    #afterPrayerEl8 {
        font-size: 65px;
    }

    #afterPrayerEl10 {
        text-align: right;
        font-size: 48px;
    }

    #korsiHeader {
        font-size: 40px;
    }

    #alkorsi {
        height: 270px;
        width: 850px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 540px;
        width: 850px;
    }

    .subElement1 {
        font-size: 23px;
    }

}

/**************************************/
/*      Full HD (1360 * 768)         */
/**************************************/

@media screen and (max-device-width: 1360px) and (max-device-height: 768px) {

    #afterPrayerHeader{
        font-size: 60px;
    }

    .afterPrayerEl
    {
        font-size:70px;
    }


    #afterPrayerEl1 {
        text-align: right;
        font-size: 50px;
    }


    #afterPrayerEl2 {
        font-size: 75px;
    }


    #afterPrayerEl3 {
        font-size: 75px;
    }



    #afterPrayerEl6 {
        font-size: 90px;
    }
    #afterPrayerEl7 {
        font-size: 90px;
    }

    #afterPrayerEl8 {
        font-size: 65px;
    }

    #afterPrayerEl10 {
        text-align: right;
        font-size: 48px;
    }

    #korsiHeader {
        font-size: 40px;
    }

    #alkorsi {
        height: 270px;
        width: 850px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 540px;
        width: 850px;
    }

    .subElement1 {
        font-size: 23px;
    }


}

/**************************************/
/*      Full HD (1280 * 1024)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 1024px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 390px;
        width: 900px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 710px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

}

/**************************************/
/*      Full HD (1280 * 960)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 960px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 390px;
        width: 900px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 680px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

}

/**************************************/
/*      Full HD (1280 * 800)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 800px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 270px;
        width: 900px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 550px;
        width: 700px;
    }

    .subElement1 {
        font-size: 20px;
    }

}

/**************************************/
/*      Full HD (1280 * 720)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 720px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 270px;
        width: 900px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 500px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

}

/**************************************/
/*      Full HD (1152 * 864)         */
/**************************************/

@media screen and (max-device-width: 1152px) and (max-device-height: 864px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }

    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 300px;
        width: 750px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 600px;
        width: 700px;
    }

    .subElement1 {
        font-size: 20px;
    }

}

/**************************************/
/*      Full HD (1024 * 768)         */
/**************************************/

@media screen and (max-device-width: 1024px) and (max-device-height: 768px) {

    #afterPrayerEl1 {
        text-align: right;
        font-size: 70px;
    }


    #afterPrayerEl10 {
        text-align: right;
        font-size: 60px;
    }


    #korsiHeader {
        font-size: 30px;
    }

    #alkorsi {
        height: 290px;
        width: 650px;
    }
    /**********************************************************************************************************/
    #m3awdat {
        height: 530px;
        width: 700px;
    }

    .subElement1 {
        font-size: 15px;
    }

    /*=========================================================================================================*/

}

