body {
    font-family:'Droid Arabic Naskh';
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	line-height: 1.5;
    color: white;
}



/**************************************/
/*      Full HD (1920 * 1080)         */
/**************************************/


@media screen and (max-device-width: 1920px) and (max-device-height: 1080px) {


    /*  prayer times window     */


    .appNameEng
    {
        font-size: 100px;
    }
    #appText
    {
        font-size: 105px;
    }
    #appIcon
    {
        width: 150px;
    }
    .breakLine
    {
        font-size:40px;
    }

}

/**************************************/
/*      Full HD (1680 * 1050)         */
/**************************************/


@media screen and (max-device-width: 1680px) and (max-device-height: 1050px) {


    #appNameEng
    {
        font-size: 110px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 70px;
    }

}


/**************************************/
/*      Full HD (1600 * 900)         */
/**************************************/


@media screen and (max-device-width: 1600px) and (max-device-height: 900px) {


    #appNameEng
    {
        font-size: 110px;
    }
    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 70px;
    }

}


/**************************************/
/*      Full HD (1440 * 900)         */
/**************************************/



@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {


    #appNameEng
    {
        font-size: 110px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 70px;
    }

}



/**************************************/
/*      Full HD (1400 * 1050)         */
/**************************************/

@media screen and (max-device-width: 1400px) and (max-device-height: 1050px) {


    #appNameEng
    {
        font-size: 110px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 70px;
    }

}


/**************************************/
/*      Full HD (1366 * 768)         */
/**************************************/

@media screen and (max-device-width: 1366px) and (max-device-height: 768px) {


    .appNameEng
    {
        font-size: 70px;
    }
    #appText
    {
        font-size: 70px;
    }
    #appIcon
    {
        width: 150px;
    }
    .breakLine
    {
        font-size:40px;
    }

}

/**************************************/
/*      Full HD (1360 * 768)         */
/**************************************/

@media screen and (max-device-width: 1360px) and (max-device-height: 768px) {


    .appNameEng
    {
        font-size: 70px;
    }
    #appText
    {
        font-size: 70px;
    }
    #appIcon
    {
        width: 150px;
    }
    .breakLine
    {
        font-size:40px;
    }

}

/**************************************/
/*      Full HD (1280 * 1024)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 1024px) {

    #appNameEng
    {
        font-size: 130px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 100px;
    }

}

/**************************************/
/*      Full HD (1280 * 960)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 960px) {


    #appNameEng
    {
        font-size: 130px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 100px;
    }

}

/**************************************/
/*      Full HD (1280 * 800)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 800px) {


    #appNameEng
    {
        font-size: 130px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 100px;
    }

}

/**************************************/
/*      Full HD (1280 * 720)         */
/**************************************/

@media screen and (max-device-width: 1280px) and (max-device-height: 720px) {


    #appNameEng
    {
        font-size: 130px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 100px;
    }

}

/**************************************/
/*      Full HD (1152 * 864)         */
/**************************************/

@media screen and (max-device-width: 1152px) and (max-device-height: 864px) {


    #appNameEng
    {
        font-size: 130px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 100px;
    }

}

/**************************************/
/*      Full HD (1024 * 768)         */
/**************************************/

@media screen and (max-device-width: 1024px) and (max-device-height: 768px) {


    #appNameEng
    {
        font-size: 130px;
    }

    #appText
    {
        font-size: 90px;
    }
    #appIcon
    {
        width: 100px;
    }

}

